<%- layout('boilerplate') %>



<div class="row">
    <div class="col-4 offset-4">
        <form action="/getFitNowCheckin" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="membership_id">membership_id</label>
                <input class="form-control" type="text" id="membership_id" name="getFitNowCheckin[membership_id]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="checkin_date">checkin_date</label>
                <input class="form-control" type="number" id="checkin_date" name="getFitNowCheckin[check_in_date]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="checkin_time">checkin_time</label>
                <input class="form-control" type="number" id="checkin_time" name="getFitNowCheckin[check_in_time]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="checkout_time">checkout_time</label>
                <input class="form-control" type="number" id="checkout_time" name="getFitNowCheckin[check_out_time]">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add getFitNowCheckin</button>
            </div>
        </form>
    </div>
</div>