<%- layout('boilerplate') %>

<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">interview's information</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">person_id : <%= interview.person_id  %></li>
                    <li class="list-group-item">transcript : <%=interview.transcript%></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-6 ">
        <form class="d-inline" action="/interview/<%=interview.person_id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
        </form>
    </div>

</div>